<h1>Search properties by year and size</h1>
<form method="get" action="/Properties/DoSearchByYearAndSize" class="col-md-3">
    <div>
        Min year: <input name="minYear" class="form-control" />
    </div>
    <hr />
    <div>
        Max year: <input name="maxYear" class="form-control" />
    </div>
    <hr />
    <div>
        Min size: <input name="minSize" class="form-control" />
    </div>
    <hr />
    <div>
        Max size: <input name="maxSize" class="form-control" />
    </div>
    <input type="submit" class="btn btn-primary float-right" value="Search" />
</form>